@mixin sticky-header($top, $zIndex) {
  position: sticky !important;
  top: $top;
  z-index: $zIndex;
  background-color: #fff;
}

@mixin sticky-bottom($bottom, $zIndex) {
  position: sticky !important;
  bottom: $bottom;
  z-index: $zIndex;
  background-color: #fff;
}


@mixin sticky-left($left, $zIndex) {
  position: sticky !important;
  left: $left;
  z-index: $zIndex;
  background-color: #fff;
}
@mixin sticky-right($right, $zIndex) {
  position: sticky !important;
  right: $right;
  z-index: $zIndex;
  background-color: #fff;
}



.sticky-top-bar{
    @include sticky-header(0px, 1000);
    height: $topbar-height;
}

.sticky-top-1{
    @include sticky-header($topbar-height, 700);
    height: 50px;
}
.sticky-top-2{
    @include sticky-header($topbar-height + 50px, 100);
    height: 30px;
}

.sticky-bottom-1{
    @include sticky-bottom(0px, 1000);
    height: 50px;
    flex-shrink: 0;
}

.page-with-sticky-footer{
    height: calc(100vh - #{$topbar-height});
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.sticky-header-table{
    @include sticky-header(10px, 800);
    height: 30px;
}



.sticky-bottom-pagination{
    @include sticky-bottom(20px, 1000);
    height: 20px;
}